doctype html
html
  head
    title=viewHelpers.buildTitle(title)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/datatables/css/jquery.dataTables.css')
    script(src='/jquery/jquery.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/datatables/js/jquery.dataTables.js')
  body
    block content